body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.equation-editor {
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjusted width to 80% */
}

/* Remove hamburger menu styles */
.hamburger-menu {
    display: none;
}

.controls {
    margin-bottom: 20px;
}

.grids {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Add space between the grids */
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 1px solid #000;
}

.kernel-grid {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #000;
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    font-size: 12px;
}

.math-graphic {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
